<% include ../layout/header.ejs %>
<!-- Header End -->

<div id="maincontainer">
  <section id="product">
    <div class="container">      
      <!-- Product Details-->
      <div class="row">
       <!-- Left Image-->
        <div class="span5">
          <ul class="thumbnails mainimage">
            <li class="span5">
              <a  rel="position: 'inside' , showTitle: false, adjustX:-4, adjustY:-4" class="thumbnail cloud-zoom" href="upload/<%= data.img%>">
                <img src="upload/<%= data.img%>" alt="" title="">
              </a>
            </li>
       
          </ul>
       
        </div>
         <!-- Right Details-->
        <div class="span7">
          <div class="row">
            <div class="span7">
              <h1 class="productname"><span class="bgnone"><%= data.name%></span></h1>
              <div class="productprice">
                <div class="productpageprice">
                  <span class="spiral"></span><%= data.price%></div>
              </div>
              <ul class="productpagecart">
                <li><a class="cart" href="/add-cart.<%= data._id %>">Add to Cart</a>
                </li>
              </ul>
         <!-- Product Description tab & comments-->
         <div class="productdesc">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a href="#description">Description</a>
                  </li>
              
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="description">
                    <h2>Tin chi tiết</h2>
                    <%= data.des%>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <div class="container">
    <div class="well"> 
        <div class="row">
             <div class="col-md-12">
                 <!-- <div class="row hidden-md hidden-lg"><h1 class="text-center" >TITULO LARGO DE UNA INVESTIGACION cualquiera</h1></div> -->
                     
                 <div class="pull-left col-md-4 col-xs-12 thumb-contenido""><img class="center-block img-responsive" src='upload/<%= data.img%>' /></div>
                 <div class="">
                     <h1  class="hidden-xs hidden-sm"><%= data.name%></h1>
                     <hr>
                     <small>10 - 04 -2017</small><br>
                     <small><strong>Author</strong></small>
                     <hr>
                     <p class="text-justify">Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. 
                 Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                 Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                 Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                 Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, 
                 convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                 Donec rutrum congue leo eget malesuada.<br><br>
                 
                 Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. 
                 Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                 Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                 Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                 Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, 
                 convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                 Donec rutrum congue leo eget malesuada.<br><br>
                 
                 Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. 
                 Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                 Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                 Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                 Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, 
                 convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                 Donec rutrum congue leo eget malesuada.<br><br>
                 
                 Nulla quis lorem ut libero malesuada feugiat. <br>
                 
                 Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                 Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                 Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                 Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, 
                 convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                 Donec rutrum congue leo eget malesuada.</p></div>
             </div>
        </div>
    </div>
</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Mới cập nhật</div>
  <div class="panel-body">
      <div class="media">
        <a class="pull-left" href="#">
        <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Receta 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra v...</p>
       </div>
</div>
<!-- <center>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2 <span class="sr-only">(P2)</span></a></li>
    <li><a href="#">3 <span class="sr-only">(P3)</span></a></li>
    <li><a href="#">4 <span class="sr-only">(P4)</span></a></li>
  <li><a href="#"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
</center> -->
</div>
</div>
</div>



  <!--  Related Products-->
  <section id="related" class="row">
    <div class="container">
      <h1 class="heading1"><span class="maintext">Sản Phẩm Khác</span><span class="subtext"> See Our Most featured Products</span></h1>
      <ul class="thumbnails">
        <% product.forEach(function(pro){ %>

            <li class="span3">
              <a class="prdocutname" href="product.html"> <%= pro.name %> </a>
              <div class="thumbnail">
                <span class="sale tooltip-test">Sale</span>
                <a href="/chi-tiet/<%= pro.nameKhongDau%>.<%= pro._id%>.<%= pro.cateId%>.html"><img alt="" src="upload/<%= pro.img %>"></a>
                <div class="pricetag">
                  <span class="spiral"></span><a href="/add-cart.<%= pro._id %>" class="productcart">ADD TO CART</a>
                  <div class="price">
                    <div class="pricenew"><%= pro.price %></div>
                  </div>
                </div>
              </div>
            </li>
      <% })%>

        
      </ul>
    </div>
  </section>
  <!-- Popular Brands-->
</div>

<!-- Footer -->
<% include ../layout/footer.ejs %>